<nav class="navbar">
    <ul>
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/inv/classification?classificationName=Custom" title="Custom">Custom</a></li>
        <li><a href="/inv/classification?classificationName=Sedan" title="Sedan">Sedan</a></li>
        <li><a href="/inv/classification?classificationName=SUV" title="SUV">SUV</a></li>
        <li><a href="/inv/classification?classificationName=Truck" title="Truck">Truck</a></li>
    </ul>
</nav>
